---
import Layout from "../layouts/Layout.astro"
import Header from '../components/Header.astro'

import '../styles/about.css'
---


<Layout>
  <Header />
  <div style="padding-top:5vh">
    <div id="head">
    <h1>More Stuff</h1>
    </div>
  </div>

  <div id="cont">
    <div id="fly-left">
      <h2>Aliens are NOT real™</h2>
      <p>Or are they?</p>
      <img src="https://www.pngfind.com/pngs/m/607-6074270_vsauce-face-no-background-hd-png-download.png" style="width: 10vw; margin: auto; display:block" />
    </div>
    <div id="fly-right">
      <h2>Mark Zuckerberg is not a lizard™</h2>
      <img src="https://cz.forbesmedia.cz/uploads/2021/04/mark-zuckerberg.jpg" style="width: 10vw; margin: auto; display:block"/>
    </div>
  </div>

  <div style="width:100%vw; height:70vh; clear: both; padding-top: 30vh">
  </div>
  
  
  
  

</Layout>