<div id="header">
	<div id="head_cont">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">More Stuff</a></li>
			<li><a href="/ClickerGame">Clicker-Game</a></li>
			
		</ul>
	</div>
	
</div>

<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  display: inline;
  margin: 5px;
}

#header {
  width: 100vw;
  text-align: center;

  position: fixed;
  z-index: 10;
  
}

#head_cont {
  padding: 1vw;
  border-top: none;
  display: inline-block;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

</style>
